header{
    background-color: var(--colorAmarillo);
    padding: 20px 0;
    font-size: var(--cuerpo-de-texto);
}

header .logo,header .busqueda{
    margin: 0 10px;
}

header .busqueda i{
    padding: 1px;
    background-color: white;
    border: 1px solid var(--colorGrisClaro);
    border-radius: 4px;
}
header .busqueda{
    /* padding: 8px; */
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 2.8rem;
    /* margin-left: 200px; */
}
header .busqueda input{
    padding: 8px;
}

header p{
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

header .logo img{
    width: 45%;
}


.home header ul{
    margin: 0 0 20px;
}

.home header ul{
    display: none;
}


header .burger{
    text-align: center;
}

header .burger i{
    background-color: var(--colorCeleste);
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: var(--titulares);
}

/* tablet */

@media (min-width:461px) {
    header .burger{
        display: none;
    }

    .home header ul{
        display: block;
    }


}

/* descktop */

@media (min-width:769px) {
    header .busqueda{
        position: relative;
        bottom: 3rem;
        justify-content: center;
    }
    header .logo img{
        width: 30%;
    }
    .home header p {
        font-size: 14px;
        position: relative;
        text-align: end;
        bottom: 6rem;
      }
      .home header nav{
        display: flex;
        justify-content: space-between;
    }
    .home header nav ul{
        margin: 0 auto;
        font-size: 15px;
        display: flex;
    }
    .home header nav li{
        margin-right: 15px;
    }

}
